*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties


#unity rules:
unity/*/[Ll]ibrary/
unity/*/[Tt]emp/
unity/*/[Oo]bj/
unity/*/[Bb]uild/
unity/*/[Bb]uilds/
unity/*/[Ll]ogs/
unity/*/[Uu]ser[Ss]ettings/
unity/*/[Mm]emoryCaptures/
!unity/*/[Aa]ssets/**/*.meta
unity/*/[Aa]ssets/Plugins/Editor/JetBrains*
unity/*/.vs/
unity/*/.gradle/
unity/*/ExportedObj/
unity/*/.consulo/
unity/*/*.csproj
unity/*/*.unityproj
unity/*/*.sln
unity/*/*.suo
unity/*/*.tmp
unity/*/*.user
unity/*/*.userprefs
unity/*/*.pidb
unity/*/*.booproj
unity/*/*.svd
unity/*/*.pdb
unity/*/*.mdb
unity/*/*.opendb
unity/*/*.VC.db
unity/*/*.pidb.meta
unity/*/*.bak
unity/*/sysinfo.txt
unity/*/*.apk
unity/*/*.aab
unity/*/*.unitypackage
unity/*/crashlytics-build.properties
unity/*/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
unity/*/[Aa]ssets/[Ss]treamingAssets/aa.meta
unity/*/[Aa]ssets/[Ss]treamingAssets/aa/*
